
body {
    background-color: black;
}
button {

    padding: 50px;
    border-radius: 50%; 
    border: none;
    
    margin-bottom: 20px;
    background-color: #ffffff74;
    color: #fff;
    margin: 2%;
    transition: background-color, width, height, 3s ease;
    width: 210px;
    height: 210px;
  }

  button:hover {
    background-color: #522954;
    width: 250px;
    height: 250px;
  }

  h2 {
    color: #fff;
    text-align: center;
    margin: 40px;
    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
  }

  